@import url(//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css);

* {
    border-radius: 0px !important;
}

body {
    padding-top: 50px;
}

a {
    cursor: pointer;
}


/*
    Navigation bar ICON
*/
.navbar-right > ul > li > a {
    padding: 0 10px 0 0;
}

    .navbar-right > ul > li > a > img {
        width: 50px;
        height: 50px;
    }

@media (max-width: 767px) {
    .navbar-right {
        margin-top: -60px;
        margin-bottom: 60px;
    }

        .navbar-right ul.navbar-nav {
            margin: 0;
            float: right;
        }
}
/*
    Navigation integrated frame
*/

#talkframe, #userframe {
    top: 45px;
    margin-left: -300px;
    width: 276px;
    left: 100%;
    position: fixed;
}

    #userframe .popover-content>img {
        float:left;
        width:80px;
        margin-top:3px;
    }

    #userframe .popover-content>div {
        float:left;
        width:130px;
        margin: -10px 15px 20px;
    }
        #userframe .popover-content > div h4 {
            margin-bottom:0;
        }

@media (max-width: 767px) {

    #userframe, #talkframe {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -98px;
        margin-left: -138px;
    }
}
/*
    Talk frame
*/
#talkframe hr {
    margin: 0;
}

#talkframe .popover-content {
    min-height: 40px;
    margin-left: -5px;
}
#talk .talk-card,
#talkframe .talk-card {
    background-color: #EEE;
    margin-bottom: 10px;
    overflow:hidden;
}

    #talk .talk-card > div:first-child {
        width: 80px;
        float: left;
    }
    #talkframe .talk-card > div:first-child {
        width: 50px;
        float: left;
    }

        #talk .talk-card > div:first-child > img{
            width: 80px;
        }
        #talkframe .talk-card > div:first-child > img {
            width: 50px;
        }
    
           
    #talk .talk-card > div:nth-child(2),
    #talkframe .talk-card > div:nth-child(2) {
        float: left;
        width: 195px;
        border-left: solid 1px #DDD;
        background-color: #FAFAFA;
        padding: 5px;
    }
    #talk .talk-card > div:nth-child(2) {
        width: 100%;
        margin-right:-80px;
    }
        #talk .talk-card > div:nth-child(2) p.text-right,
        #talkframe .talk-card > div:nth-child(2) p.text-right {
            margin: 0;
        }

            #talkframe .talk-card > div:nth-child(2) p.text-right span {
                cursor: pointer;
            }

/*
    Global fix
*/
.page-header button {
    margin-top: -40px;
}

/*
    Global list style
*/
.bs-sidebar .nav > li > a {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}

    .bs-sidebar .nav > li > a:hover,
    .bs-sidebar .nav > li > a:focus {
        text-decoration: none;
        background-color: #e6e6e6;
        border-left: 1px solid #f0f0f0;
    }

.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #428BCA;
    background-color: transparent;
    border-left: 1px solid #428BCA;
}

.bs-sidebar .nav .nav {
    margin-bottom: 8px;
}

    .bs-sidebar .nav .nav > li {
        padding-left: 30px;
        font-size: 90%;
    }

/*
    Default page
*/
#default .jumbotron {
    background-image: url(../img/welcome.jpg);
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
}

/*
    Gallery page
*/
#gallery > ul .mix {
    display: none;
}

    #gallery > ul .mix a {
        text-decoration: none;
        text-align: center;
    }

/*
    Personal page
*/
#personal .form-horizontal {
    padding-top: 20px;
}

#personal #avatar .col-md-4 .btn-primary {
    width: 150px;
}

#personal #avatar .col-md-4 .preview-container {
    margin: 15px auto;
    width: 150px;
    height: 150px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    border: 1px rgba(0,0,0,.4) solid;
}
