@import url(//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css);

.site-wrapper a,
.site-wrapper a:focus,
.site-wrapper a:hover {
    color: #fff;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 0px;
}


html,
body {
    height: 100%;
    background-color: #333;
}

.site-wrapper  {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.inner {
    padding: 30px;
}

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

    .masthead-nav > li + li {
        margin-left: 20px;
    }

    .masthead-nav > li > a {
        padding-right: 0;
        padding-left: 0;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        color: rgba(255,255,255,.75);
        border-bottom: 2px solid transparent;
    }

        .masthead-nav > li > a:hover,
        .masthead-nav > li > a:focus {
            background-color: transparent;
            border-bottom-color: #a9a9a9;
            border-bottom-color: rgba(255,255,255,.25);
        }

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

.site-wrapper form {
    width: 300px;
    margin: 20px auto;
}

    .site-wrapper form .form-control {
        border: none;
        border-radius: 0;
        color: #FFF;
        background-color: rgba(255,255,255,0.1);
    }

        .site-wrapper form .form-control:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 255, 255, 0.6);
        }

    .site-wrapper form span {
        background: rgba(255,255,255,0.2);
        color: #FFF;
        border: none;
    }

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}

.cover {
    padding: 0 20px;
}

    .cover .btn-lg {
        padding: 10px 20px;
        font-weight: bold;
    }

.mastfoot {
    color: #999;
    color: rgba(255,255,255,.5);
}

@media (max-width: 384px) {

    .site-wrapper form {
        width: 95%;
        margin: 20px auto;
    }
}

@media (min-width: 768px) {
    .masthead {
        position: fixed;
        top: 0;
    }

    .mastfoot {
        position: fixed;
        bottom: 0;
    }

    .site-wrapper-inner {
        vertical-align: middle;
    }

    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}


.modal-header {
    border-bottom:none;
}

.modal-footer {
    border-top:none;
}

* {
    border-radius:0px!important;
}