<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=; user id=; password=; database=CAS; charset=utf8" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
    <pages validateRequest="false"/>
    <compilation>
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
  </system.web>
</configuration>
