@page
@model cas.Pages.MainPageModel
<div class="container">
    <div class="page-header">
        <h1>说说 <small>历史上的说说</small></h1>
    </div>
</div>
<div class="container">
    <div id="histalkct"></div>
</div>